*{
    /* display: flex; */
    /* align-items: center;
    justify-content: center; */
    /* position: relative; */
}
div{
    display: flex;
    width: 300px;
    height: 200px;
    margin: 20px auto;
    background-color: #eee;
    align-items: center;
    justify-content: center;
    color: rgb(48, 183, 236);
    font-size: 50px;
    position: relative;
    /* z-index: 5; */
    /* transform: rotate(50deg); */
}
div::before{
    content: "";
    position: absolute;
    width: 300px;
    height: 200px;
    margin: 20px auto;
    background-color: blue;
    align-items: center;
    justify-content: center;
    z-index: -1;
    transform: rotate(-5deg);
}

div::after{
    content: "";
    position: absolute;
    width: 300px;
    height: 200px;
    margin: 20px auto;
    background-color: pink;
    align-items: center;
    justify-content: center;
    z-index: -1;
    transform: rotate(5deg);
}
