.one{
    background-color: #eee;
    width: 200px;
    height: 200px;
    transition-duration: 1s;
    transition-delay: 0.2s;
    transition-property: width;
    transition-timing-function: ease-out;
}
.one:hover{
    width: 280px;
}