div{
    width: 100px;
    height: 100px;
    background-color: #eee;
    margin: 20px auto;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    box-shadow: 2px 2px 2px 2px #555454 inset;
}