div{
    background-color: #eee;
    text-align: center;
    width: 300px;
    height: 60px;
    margin-bottom: 20px;
    margin-left:40%;
}
:empty{
    background-color: red;
    text-align: center;
    width: 300px;
    height: 60px;
}